* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.topbar {
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    color: #FFFFFF;
    padding: 8px 0 0 21px;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 92px;
    z-index: 1;
    box-shadow: 0px 5px 5px gray;
}

.title {
    font-family: 'Righteous';
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
}

.dishes {
    margin-top: 123px;
    padding-left: 19px;
    font-family: 'Roboto', sans-serif;;
    margin-bottom: 100px;
}

.dishes > div {
    margin-bottom: 27px;
}

.food-title {
    font-family: 'Righteous';
    color: #333333;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-bottom: 17px;
}

.options {
    display: flex;
    overflow-x: scroll;
}

.dish-container {
    width: 144px;
    margin: 10px auto;
}

.dish-container div {
    margin-top: 9px;
}

.dish {
    background-color: #FFFFFF;
    min-width: 172px;
    margin-right: 16px;
    border-radius: 9px;
}

.dish img {
    width: 144px;
    height: 87px;
    margin: 5px auto 2px auto;
    border-radius: 4px;
}

.dish-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.description {
    color: #A6A6A6;
    font-size: 15px;
    line-height: 18px;
}

.price {
    font-size: 16px;
    line-height: 19px;  
}

.drink .dish-container > div {
    margin-top: 11px;
}

.order {
    width: 100%;
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.order button {
    background-color: #CBCBCB;
    color: #FFFFFF;
    width: 80%;
    height: 61px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    border-radius: 50px;
    border: 0px;
}