* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.topbar {
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    color: #FFFFFF;
    padding: 8px 0 0 21px;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 92px;
    z-index: 1;
    box-shadow: 0px 5px 5px gray;
}

.title {
    font-family: 'Righteous';
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
}

.dishes {
    margin-top: 123px;
    padding-left: 19px;
}

.dishes > div {
    margin-bottom: 27px;
}

.food-title {
    font-family: 'Righteous';
    color: #333333;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-bottom: 17px;
}

.options {
    display: flex;
    overflow-x: scroll;
}

.dish {
    background-color: #FFFFFF;
    min-width: 172px;
    height: 216px;
    margin-right: 16px;
}